html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Nunito', sans-serif;
  background: #6c034c;
  background: linear-gradient(137deg, #6c034c 0%, #5700a2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c034c",endColorstr="#5700a2",GradientType=1);
}

input {
  font-family: 'Nunito', sans-serif;
}

#homevideo-game-logo {
  position: absolute;
  top: -0.5%;
  left: -3%;
  width: 26%;
}

.box {
  background-color: #ff00554b;
}

.header {
  background-color: #ff00554b;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.no-bg {
  background: none;
}

.video {
  z-index: 0;
  width: 100%;
  margin: 0 0 9px 0;
  padding: 0;
}

.videopreview {
  background-color: black;
}

#preview-video-mobile, #gif-footsies, #gif-combos, #gif-win {
  display: none;
}

.videoleft {
  width: calc(100% - 32px);
  margin: 0 16px;
  padding: 0;
}

.videoright {
  width: calc(100% - 32px);
  margin: 0 16px;
  padding: 0;
}

header, section, video {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff00554b;
  margin: 16px 0 0 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex .half {
  width: 50%;
  position: relative;
}

.flex .quarter {
  width: 25%;
}

.flex .ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mc_embed_signup {
  clear: left;
  font-family: 'Exo 2', sans-serif;
}

#mc_embed_signup input.email {
  display: inline-block;
  width: calc(100% - 32px);
  height: 32px;
  vertical-align: top;
  margin: 0 16px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
}

#mc_embed_signup .response {
  color: #333;
  background-color: #FED404;
  margin: 8px 16px 0px 16px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

#mc-embedded-subscribe, .link-button {
  display: inline-block;
  margin: 8px 16px 16px 16px;
  border: 0px solid #999;
  width: calc(100% - 32px);
  height: 48px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  padding-bottom: 4px;
  border-bottom: 8px solid #D7B40A;
  background: #FED404;
  display: inline-block;
  color: #333;
  text-decoration: none;
  text-align: center;
  line-height: 38px;
}

.link-button-pressed, .link-button:active {
  border-top: 8px solid #ff00554b;
  background: #D7B40A;
  line-height: 38px;
}

.box-separator {
  height: 16px;
}

.box-separator-big {
  height: 48px;
}

h1, h2 {
  color: white;
  font-size: 16px;
  margin: 0px 16px 16px 16px;
  font-family: 'Exo 2', sans-serif;
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 8px;
  background: #FED404;
  display: inline-block;
}

h1 {
  font-size: 30px;
}

ul {
  padding: 0 0 0 8px;
}

p, ul li {
  color: white;
  font-size: 16px;
  margin: 0px 16px 16px 16px;
  list-style-type: none;
}

.feature-description-container {
  width: 60%;
  position: relative;
  min-width: 210px;
}

.feature-description-align-left {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feature-description-align-right {
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.feature-description-align-right h2 {
  text-align: right;
}

.feature-description-align-right p {
  text-align: right;
}

#game-description-container img {
  width: 50%;
  margin: -33px -56px 0px;
}

#game-description-container .game-description {
  margin: 16px 0;
}

footer {
  background: #ff00554b;
  text-align: center;
  margin: 0;
  padding: 8px 0;
}

footer p {
  margin: 0;
}

.manga {
  width: calc(100% - 32px);
  margin: 0 16px;
}

#soundtrack-container iframe {
  display: block;
  margin: 0 auto;
  max-width: 560px;
  height: 315px;
  width: 100%;
}

.hidden {
  display: none;
}

.gifts-logo {
  width: 100%;
}

@media all and (max-width: 977px) {
  header {
    margin: 0;
  }
}

@media all and (max-width: 600px) {
  #homevideo-game-logo {
    top: -0.1%;
  }
  .flex {
    -webkit-box-flex: flex;
        -ms-flex: flex;
            flex: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex .half {
    width: 100%;
    display: inline-block;
  }
  .flex .quarter {
    width: 60%;
    display: inline-block;
    margin: 8px auto;
  }
  .feature-description-align-right {
    top: 50%;
    right: inherit;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: inherit;
  }
  .feature-description-align-right h2 {
    text-align: inherit;
  }
  .feature-description-align-right p {
    text-align: inherit;
  }
  .feature-description-container {
    width: 100%;
  }
  #game-description-container img {
    width: 100%;
    margin: 0 auto;
  }
  .flex-align-right {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

.banner-container {
  width: 448px;
  height: 376px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.banner {
  position: absolute;
  width: calc(100% - 32px);
  height: 376px;
  margin: 0 16px;
  padding: 0;
  overflow: hidden;
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-animation: animate 15s linear infinite;
          animation: animate 15s linear infinite;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner-img:nth-child(1) {
  -webkit-animation-name: animate-1;
          animation-name: animate-1;
  z-index: 3;
}

.banner-img:nth-child(2) {
  -webkit-animation-name: animate-2;
          animation-name: animate-2;
  z-index: 2;
}

.banner-img:nth-child(3) {
  -webkit-animation-name: animate-3;
          animation-name: animate-3;
  z-index: 1;
}

.banner-img:nth-child(4) {
  -webkit-animation-name: animate-4;
          animation-name: animate-4;
  z-index: 0;
}

@-webkit-keyframes animate-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  1.5% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  26% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  98% {
    opacity: 0;
    -webkit-transform: scale(1.22);
            transform: scale(1.22);
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  1.5% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  26% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  98% {
    opacity: 0;
    -webkit-transform: scale(1.22);
            transform: scale(1.22);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animate-2 {
  23% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  26% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  51% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes animate-2 {
  23% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  26% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  51% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes animate-3 {
  48% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  51% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  76% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes animate-3 {
  48% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  51% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  76% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes animate-4 {
  73% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  76% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate-4 {
  73% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  76% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */