<!-- WHAT IS RESISTANCE204X? -->
<section>
    <div id="game-description-container" class="box flex">
      <img id="game-logo" src="/images/logo.svg" alt="Resistance 204X Logo">
      <div class="game-description">
        <h1>What is Resistance204X?</h1>
        <p>Is a dystopian 2D multiplatform <strong><emph>Indie Fighting Game</emph></strong> in development.</p>
        <p>Choose your character, make combos, special attacks and defeat your opponent.</p>
        <p>Be fast! Run and reach the end of the stage to win the match.</p>
        <p>Rollback Netcode.</p>
      </div>
    </div>
  </section>

  <div class="box-separator-big"></div>

<section>
    <div class="box-separator box"></div>
    <div class="box flex">
        <h1>Where is the fun?</h1>
    </div>
</section>

  <!-- PLAY FOOTSIES -->
  <div class="box-separator box"></div>
  <section>
    <div class="box flex">
      <div class="half">
        <video class="videoleft" muted autoplay loop>
          <source src="/images/placeholder.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="half ai-c">
        <div class="feature-description-container feature-description-align-left">
          <h2>Play Footsies!</h2>
          <p>Dash! Jump! Block! and Attack at the right moment.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- MAKE COMBOS -->
  <div class="box-separator box"></div>
  <section>
    <div class="box flex flex-align-right">
      <div class="half ai-c">
        <div class="feature-description-container feature-description-align-right">
          <h2>Make Combos and Special Attacks!</h2>
          <p>Break your opponent's guard. Hit heavy and special attacks to defeat your opponent.</p>
        </div>
      </div>
      <div class="half">
        <video class="videoright" muted autoplay loop>
          <source src="/images/placeholder.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>

  

  <!-- WIN THE MATCH -->
  <div class="box-separator box"></div>
  <section>
    <div class="box flex">
      <div class="half">
        <video class="videoleft" muted autoplay loop>
          <source src="/images/placeholder.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="half ai-c">
        <div class="feature-description-container feature-description-align-left">
          <h2>Win the match!</h2>
          <p>Defeat your opponent and reach the end of the stage to win the match.</p>
        </div>
      </div>
    </div>
  </section>